<!DOCTYPE html>
<html lang="{{ settings.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title }} | {{ settings.siteTitle }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/darcula.css" />
    <meta name="author" content="{{ author if author else settings.author }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <link rel="alternate" type="application/feed+json" href="/feeds/posts.json" />
    <script>
      const matchesScheme = (prefersLight) => (prefersLight ? 'light' : 'dark');
      const mql = window.matchMedia('(prefers-color-scheme: light)');
      const storedColorScheme = window.localStorage.getItem('color-scheme');
      const systemColorScheme = matchesScheme(mql.matches);
      const colorScheme = storedColorScheme || systemColorScheme;
      const handleChange = ({ matches }) => {
        document.getElementById(matchesScheme(matches)).checked = true;
      }
      if (storedColorScheme) {
        document.documentElement.dataset.colorScheme = colorScheme;
      } else {
        mql.addEventListener('change', handleChange);
      }
    </script>
  </head>
  <body>
    <main>
      {%- block main %}
      {{ content | safe }}
      {% endblock -%}
    </main>
    <fieldset class="color-scheme-control" id="color-scheme-control">
      <legend class="visually-hidden">Color scheme</legend>
      <input
        type="radio"
        value="dark"
        name="color-scheme"
        id="dark"
        class="visually-hidden"
      />
      <label for="dark" aria-label="dark">
        {%- include "icons/moon.svg" -%}
      </label>
      <input
        type="radio"
        value="light"
        name="color-scheme"
        id="light"
        class="visually-hidden"
      />
      <label for="light" aria-label="light">
        {%- include "icons/sun.svg" -%}
      </label>
    </fieldset>
    <script>
      document.querySelector(`#${colorScheme}`).checked = true;
      document
        .querySelector('#color-scheme-control')
        .addEventListener('change', ({ target }) => {
          const { value } = target;
          document.documentElement.dataset.colorScheme = value;
          window.localStorage.setItem('color-scheme', value);
          mql.removeEventListener('change', handleChange);
        });
    </script>
  </body>
</html>
