{% extends "layouts/base.njk" %}
{% set previous = collections.posts | getPreviousCollectionItem(page) %}
{% set next = collections.posts | getNextCollectionItem(page) %}

{% block main %}
<article>
  <header>
    <h1>{{ title }}</h1>
    <p>
      <time datetime="{{ date | toISODate }}">
        {{- date | humanReadableDate -}}
      </time>
    </p>
  </header>
  {{ content | safe }}
  <footer>
    <nav role="navigation">
      <dl>
        {% if previous %}
        <div>
          <dt>Previous</dt>
          <dd>
            <a href="{{ previous.url }}">{{ previous.data.title }}</a>
          </dd>
        </div>
        {% endif %} {% if next %}
        <div>
          <dt>Next</dt>
          <dd>
            <a href="{{ next.url }}">{{ next.data.title }}</a>
          </dd>
        </div>
        {% endif %}
      </dl>
      <a href="/">Home</a>
    </nav>
  </footer>
</article>
{% endblock %}
