---
permalink: /feeds/posts.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ settings.site.name }}",
  "home_page_url": "{{ settings.site.url }}",
  "feed_url": "{{ settings.site.url }}/feeds/posts.json",
  "authors": [
    {
      "name": "{{ settings.author.name }}"
    }
  ],
  "language": "{{ settings.lang }}",
  "items": [
    {%- for post in collections.posts | reverse %}
    {
      "id": "{{ settings.site.url }}{{ post.url }}",
      "title": "{{ post.data.title }}",
      "date_published": "{{ post.date.toISOString() }}",
      "date_modified": "{{ post.data.lastMod.toISOString() if post.data.lastMod else post.date.toISOString() }}",
      "authors": [
        {
          "name": "{{ post.data.author if post.data.author else settings.author.name }}"
        }
      ],
      "content_html": "{{ post.templateContent | safe | replace("\"", "\\\"") | replace("\n", " ") }}",
      "url": "{{ settings.site.url }}{{ post.url }}"
    }{%- if not loop.last %},{% endif -%}
    {% endfor %}
  ]
}
