*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: hsl(0 0% 100%);
  --outrageous-orange: hsl(12.3 100% 60.78%);
  --outrageous-orange-transparent: hsl(12.3 100% 60.78% / 40%);
  --madison: hsl(210 25% 25.1%);
  --madison-transparent: hsl(210 25% 25.1% / 40%);
  --madison-highlight: hsl(210 25% 25.1% / 10%);
  --cararra: hsl(45.6 40.98% 88.04%);
  --cararra-transparent: hsl(45.6 40.98% 88.04% / 50%);
  --cararra-highlight: hsl(45.6 40.98% 88.04% / 10%);

  --foreground-color: var(--cararra);
  --foreground-color-transparent: var(--cararra-transparent);
  --background-color: var(--madison);
  --background-color-transparent: var(--madison-transparent);
  --background-color-highlight: var(--cararra-highlight);
  --support-color: var(--outrageous-orange);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: var(--madison);
    --foreground-color-transparent: var(--madison-transparent);
    --background-color: var(--cararra);
    --background-color-transparent: var(--cararra-transparent);
    --background-color-highlight: var(--madison-highlight);
  }
}

[data-color-scheme="light"] {
  --foreground-color: var(--madison);
  --foreground-color-transparent: var(--madison-transparent);
  --background-color: var(--cararra);
  --background-color-transparent: var(--cararra-transparent);
  --background-color-highlight: var(--madison-highlight);
}

[data-color-scheme="dark"] {
  --foreground-color: var(--cararra);
  --foreground-color-transparent: var(--cararra-transparent);
  --background-color: var(--madison);
  --background-color-transparent: var(--madison-transparent);
  --background-color-highlight: var(--cararra-highlight);
}

::-moz-selection {
  background-color: var(--outrageous-orange-transparent);
}

::selection {
  background-color: var(--outrageous-orange-transparent);
}

html {
  background-color: var(--outrageous-orange);
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: Palatino, serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 1rem 1rem 25vh;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

main {
  margin: 0 auto;
  max-width: 40rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.125;
  margin: 1rem 0;
}

h2 {
  font-size: 1.125rem;
  margin: 1.5rem 0;
}

@media (min-width: 23.5rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 1.5rem 0;
  }
}

p {
  margin: 1.5rem 0;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--foreground-color-transparent);
}

a:focus {
  outline: 1px dotted;
  outline-offset: 0.125rem;
}

a:hover {
  color: var(--support-color);
  outline: none;
  transition: color 250ms ease-in-out;
}

p > code {
  background-color: var(--background-color-highlight);
}

.footnote-ref {
  font-size: 65%;
  margin-left: 0.125rem;
  position: relative;
  top: -0.5rem;
  vertical-align: baseline;
}

.footnote-backref {
  text-decoration: none;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  padding: 0;
  position: relative;
}

.posts a::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

article header {
  display: flex;
  flex-direction: column;
}

article header > :last-child {
  order: -1;
}

article footer {
  margin: 4rem 0 0;
}

footer nav {
  border-top: 1px solid var(--foreground-color-transparent);
}

footer dl div {
  margin: 0 0 1rem;
}

footer dt,
footer dd {
  margin: 0;
}

footer dt::after {
  content: ":";
}

/* markdown-it-footnote Pandoc style footnotes */
.footnotes-sep {
  border: none;
  border-top: 1px solid var(--foreground-color-transparent);
  margin: 1rem 0;
  width: 50%;
}

.footnotes-list {
  font-size: 0.875rem;
  padding-left: 1.125rem;
}

@media (min-width: 40rem) {
  .footnotes-list {
    font-size: 1rem;
  }
}

.footnote-item {
  margin: 1rem 0;
}

.color-scheme-control {
  align-items: center;
  border: none;
  display: flex;
  height: 1.5rem;
  justify-content: space-between;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
}

.color-scheme-control > label {
  height: 1.5rem;
  opacity: 0.5;
  position: relative;
  transition: opacity 250ms ease-in-out;
  width: 1.5rem;
}

.color-scheme-control > :checked + label,
.color-scheme-control > :focus + label,
.color-scheme-control > label:hover {
  opacity: 1;
}

.color-scheme-control > label::before {
  content: " ";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
}

.color-scheme-control > :focus + label::before {
  border: 1px dotted var(--foreground-color);
}

.color-scheme-control > :checked + label {
  color: var(--support-color);
}

.color-scheme-control > label > svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.visually-hidden {
  border: 0px;
  clip-path: inset(50%);
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: 0px -1px -1px 0px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
