*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: 0 0% 100%;
  --outrageous-orange: 12.3 100% 60.78%;
  --madison: 210 25% 25.1%;
  --cararra: 45.6 40.98% 88.04%;

  --text-color: var(--cararra);
  --background-color: var(--madison);
  --hover-color: var(--outrageous-orange);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--madison);
    --background-color: var(--cararra);
  }
}

[data-color-scheme="light"] {
  --text-color: var(--madison);
  --background-color: var(--cararra);
}

[data-color-scheme="dark"] {
  --text-color: var(--cararra);
  --background-color: var(--madison);
}

::-moz-selection {
  background-color: hsl(var(--outrageous-orange) / 50%);
}

::selection {
  background-color: hsl(var(--outrageous-orange) / 50%);
}

html {
  background-color: hsl(var(--outrageous-orange));
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: hsl(var(--background-color));
  color: hsl(var(--text-color));
  font: 1em/1.5 Palatino, serif;
  margin: 0;
  min-height: 100vh;
  padding: 1em;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

main {
  margin: 0 auto;
  max-width: 30em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.125;
  margin: 1em 0;
}

h1::after {
  border-bottom: 1px solid hsl(var(--cararra) / 50%);
  content: " ";
  display: block;
  margin-top: 1em;
  width: 50%;
}

h2 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0.8em 0;
}

p {
  margin: 1em 0;
}

@media (min-width: 20.0625em) {
  html {
    text-rendering: optimizeLegibility;
  }

  body {
    font-size: 1.125em;
  }

  h1 {
    font-size: 1.77778em;
  }
}

@media (min-width: 60.0625em) {
  body {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.4em;
  }
}

article {
  margin-bottom: 5em;
}

a {
  color: hsl(var(--text-color));
}

a:focus {
  outline: 1px dotted;
  outline-offset: 0.125em;
}

a:hover {
  color: hsl(var(--hover-color));
  outline: none;
}

a[href^="#fn"] {
  text-decoration: none;
}

.footnote-ref {
  font-size: 0.7em;
  margin-left: 0.125em;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  padding: 0;
  position: relative;
}

.posts a::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

article header {
  display: flex;
  flex-direction: column;
}

article header > :last-child {
  order: -1;
}

article footer {
  margin: 4em 0 0;
}

footer nav {
  border-top: 1px solid hsl(var(--cararra) / 50%);
}

footer dl div {
  margin: 0 0 1em;
}

footer dt,
footer dd {
  margin: 0;
}

footer dt::after {
  content: ":";
}

/* Blackfriday footnotes */
.footnotes ol {
  padding-left: 1.125em;
}

.footnotes hr {
  border: none;
  border-top: 1px solid hsl(var(--cararra) / 50%);
  margin: 1em 0;
  width: 50%;
}

.footnotes li {
  margin: 1em 0;
}

.color-scheme-control {
  border: none;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-around;
  margin: 2rem auto;
  opacity: 0.25;
  transition: opacity 1s ease-in-out 2s;
  max-width: 9rem;
}

.color-scheme-control:hover {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.visually-hidden {
  border: 0px;
  clip-path: inset(50%);
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: 0px -1px -1px 0px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
