*,
*::before,
*::after {
  box-sizing: inherit;
}

::-moz-selection {
  background-color: hsla(14, 100%, 57%, .5);
}

::selection {
  background-color: hsla(14, 100%, 57%, .5);
}

html {
  background-color: #ff5722;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size:1em 1em;
  background-position:0 0, .5em .5em;
  background-attachment: fixed;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #304050;
  background: linear-gradient(#304050, #304050);
  color: hsl(46, 42%, 88%);
  font: 1em/1.5 Palatino, serif;
  margin: 0;
  min-height: 100vh;
  padding: 1em;
}

h1 {
  font-size: 1.5em;
  line-height: 1.125;
  margin: 1em 0;
}

h1::after {
  border-bottom: 1px solid hsla(46, 42%, 88%, 0.5);
  content: " ";
  display: block;
  margin-top: 1em;
  width: 50%;
}

h2 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: .8em 0;
}

p {
  margin: 1em 0;
}

@media (min-width: 20.0625em) {
  html {
    text-rendering: optimizeLegibility;
  }

  body {
    font-size: 1.125em;
  }

  h1 {
    font-size: 1.77778em;
  }
}

@media (min-width: 60.0625em) {
  body {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.4em;
  }
}

.textblock {
  margin: 0 auto;
  max-width: 30em;
}

article {
  margin-bottom: 5em;
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: .25em .5em;
}

code {
  background-color: hsla(46, 42%, 88%, .15);
  padding: .125em .25em;
}

a {
  color: hsl(46, 42%, 88%);
}

a:focus {
  outline: 1px dotted;
  outline-offset: .125em;
}

a:hover {
  color: #ff5722;
  outline: none;
}

/* footnote links */
a[href^="#fn"] {
  text-decoration: none;
}

.footnote-ref {
  font-size: .7em;
  margin-left: .125em;
  position: relative;
  top: -.5em;
  vertical-align: baseline;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  padding: 0;
  position: relative;
}

.posts a::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

article footer {
  margin: 4em 0 0;
}

footer nav {
  border-top: 1px solid hsla(46, 42%, 88%, 0.5);
}

footer dl div {
  margin: 0 0 1em;
}

footer dt,
footer dd {
  margin: 0;
}

footer dt::after {
  content: ":";
}

/* Blackfriday footnotes */
.footnotes ol {
  padding-left: 1.125em;
}

.footnotes hr {
  border: none;
  border-top: 1px solid hsla(46, 42%, 88%, 0.5);
  margin: 1em 0;
  width: 50%;
}

.footnotes li {
  margin: 1em 0;
}
