name: Prettier
on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 16
          cache: npm
      - run: npm install
      - run: npm run prettier:check
